#header_mobile_content {
	display: none;
}

#header {
	margin: 10px 20px 0 10px;
}

#top_bar {
	margin-bottom: 10px;
	/*overflow: auto;*/
}



#login_btn {
	margin-right: 40px;
}

#site_links a:hover,
#view_links a:hover,
.page-link:hover,
.page-link-submenu a:hover,
.page-link-submenu a.active {
	color: #808284;
}

.title-container {
	float: left;
}

.title-container h1 {
	font-size: 6.2em;
	font-weight: bold;
	/*letter-spacing: 0.1em;*/
	color: #000;
}

#collections_container {
	float: left;
	text-transform: uppercase;
	font-size: 1.2em;
	margin-top: 14px;
	margin-bottom: 20px;
	margin-left: 20px;
}

#collections_container ul.wide {
	column-count: 2;
	columns: 2;
	-moz-column-count: 2;
	column-gap: 20px;
}

#search_container {
	float: right;
	margin-right: 75px;
	font-size: 1.2em;
}

#search_container input {
	border: 1px solid #999;
	border-radius: 4px;
	padding: 2px 3px;
	width: 300px;
}

.main-pages-links {
	height: 30px;
}

.page-link-container {
	float: left;
	position: relative;
}

.page-link {
	height: 100%;
}

.page-link,
.page-link-submenu a {
	font-size: 1.4em;
	font-weight: bold;
	text-transform: lowercase;
	padding: 5px 10px;
}

.page-link-submenu {
	display: none;
	position: absolute;
	z-index: 999;
	font-size: 0.9em;
	top: 25px;
	background-color: #fff;
	box-shadow: 2px 2px 5px -1px rgba(219,215,219,0.61);
	padding: 7px 0 10px 0;
	white-space: nowrap;
	min-width: 150px;
}

.page-link-submenu li {
	margin-bottom: 0px;
}

#page_container {
	min-height: 500px;
}