body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	overflow-y: scroll;
}

.bold {
	font-weight: bold;
}

.clear-both {
	float: none;
	clear: both;
}

#view_links {
	float: left;
	margin-top: 3px;
}

#view_links a {
	margin-right: 15px;
	margin-left: 5px;
}

#site_links {
	float: right;
	margin-top: 3px;
}

#site_links a,
#site_links span,
#view_links a {
	text-transform: uppercase;
	color: #1C3040;
	font-weight: bold;
}

#site_links a.active,
#view_links a.active,
.page-link.active {
	color: #808284;
}

#collections_container label:hover {
	cursor: pointer;
}

#collections_container input:disabled + label:hover {
	cursor: not-allowed;
}

#page_container {
	clear: both;
	margin: 20px;
}

.page-container-list {
	column-width: 300px;
	-moz-column-width: 300px;
	/*column-gap: 0;*/
	/*-moz-column-gap: 0;*/
}

.page-container-list .text-entry-container,
.page-container-list .thumb-entry-container {
	break-inside: avoid;
	page-break-inside: avoid;
	padding: 7px 0; 
}

.page-container-list .list-group-title {
	margin-bottom: 5px;
}

.page-container-list h5 {
	font-size: 1.1em;
	font-weight: bold;
}

.text-entry-container img,
.text-entry-container .thumb-missing {
	display: none;
}

.text-list-link { 
	display: inline-block;
	width: auto;
	padding: 10px 35px 10px 10px;
	border-radius: 4px;
}

.text-list-link:hover {
	box-shadow: 3px 3px 6px 1px rgba(200,200,200,0.85);
}

.thumb-entry-container a {
	width: 90%;
	display: inline-block;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
}

.thumb-entry-container a:hover {
	box-shadow: 3px 3px 6px 2px rgba(150,150,150,0.85);
}

.thumb-entry-container img {
	width: 100%;
}

.thumb-entry-container .thumb-missing {
	width: 100%;
	height: 150px;
	padding-top: 30px;
	text-align: center;
	font-size: 1.1em;
}

.thumb-entry-container .entry-info {
	position: absolute;
	/*bottom: -40px;*/
	background-color: #f5f5f5;
	width: 100%;
	padding-left: 10px;
}

#page_footer {
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-top: 60px;
	text-align: center;
	font-size: 0.8em;
	color: #333;
	font-weight: bold;
}

.single-content-container {
	margin-top: 2.5em;
	margin-left: 2.5em;
}

.single-content-header,
.artworks-by h1 {
	font-size: 1.4em;
	text-transform: uppercase;
	font-weight: bold;
	/*margin-bottom: 20px;*/
}

.artworks-by h1 {
	margin-top: 50px;
}

.single-content {
	overflow: auto;
	padding-top: 20px;
}

.single-content-thumb,
.single-content-data {
	float: left;
}

.single-content-thumb img {
	width: 300px;
}

.single-content-data {
	width: calc(100% - 350px);
	margin-left: 50px;
}

.single-content-list {
	column-width: 300px;
	-moz-column-width: 300px;
}

.single-content-list li {
	break-inside: avoid;
	page-break-inside: avoid;
	overflow: hidden;
	margin-bottom: 20px;
}