#search_container {
	position: relative;
}

#site_search {
	width: 200px;
	color: #333;
	border: 1px solid #999;
}

.twitter-typeahead {
	color: #999;
}

.tt-hint {
	width: 100%;
	height: 100%;
}

.tt-menu {
	border: 1px solid #999;
	/*border-radius: 4px;*/
	/*width: 450px;*/
	width: 100%;
	margin-top: 2px;
	background-color: #fff;
	padding: 8px 3px;
	min-height: 50px;
	max-height: 500px;
	overflow-y: auto;
}

#loading_results {
	display: none;
	position: absolute;
	width: 16px;
	height: 16px;
	top: calc(50% - 8px);
	right: 20px;
	background: url('./images/loading.gif');
}

.tt-suggestion {
	padding: 6px 10px;
	color: #555;
}

.tt-suggestion:hover {
	cursor: pointer;
	font-style: italic;
	/*background-color: #0097cf;*/
	/*color: #fff;*/
}

.tt-dataset-header {
	font-weight: bold;
	font-style: italic;
	/*color: #aaa;*/
}


/* first child is the hidden loading div
   second child is the first dataset */
.tt-dataset:not(:nth-child(2)) .tt-dataset-header {
	margin-top: 10px;
}

.tt-dataset:not(:last-child) {
	border-bottom: 1.5px dashed #aaa;
}