#header_content .title-container,
#search_container {
	display: none;
}

#header {
	position: fixed;
	top: 0;
	padding: 10px 20px 0 10px;
	width: 100%;
	z-index: 1000;
	background-color: #fff;
}

#header_content {
	position: absolute;
	top: 52px;
	left: -100%;
	background-color: #fff;
	border-right: 3px dashed #777;
	clear: both;
	height: 1000px;
	width: 85%;
	padding-top: 15px;
}

#mobile_menu_btn_container,
#header_mobile_content .title-container {
	float: left;
}

#header_mobile_content .glyphicon-menu-hamburger {
	font-size: 2em;
	/*margin-top: 15px;*/
	/*margin-bottom: 15px;*/
	color: #999;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

#header_mobile_content .glyphicon-menu-hamburger:hover {
	background-color: #f5f5f5;
}

.title-container h1 {
	font-size: 2.8em;
	font-weight: bold;
	text-align: center;
	color: #000;
	margin-left: 20px;
}

.lang-btn {
	margin-right: .5em;
	margin-left: .5em;
}

#collections_container {
	text-transform: uppercase;
	font-size: 1.1em;
	margin: 1em 1em 1em 5px;
}

#collections_container ul,
.main-pages-links {
	/*overflow: auto;*/
	max-width: 300px;
	column-count: 2;
	columns: 2;
	-moz-column-count: 2;
	/*column-gap: 20px;*/
	/*-moz-column-gap: 0;*/
}

#collections_container ul li {
	/*float: left;*/
	/*margin-right: 2em;*/
	padding: 3px 0 3px 0;
}

.page-link-container {
	position: relative;
}

.page-link,
.page-link-submenu a {
	font-size: 1.1em;
	font-weight: bold;
	text-transform: capitalize;
	padding: .5em;
	display: inline-block;
}

.page-link-submenu a {
	padding-left: 1em;
	font-weight: normal;
}

.page-link-submenu {
	display: none;
	position: absolute;
	z-index: 999;
	font-size: 0.9em;
	top: 1.1em;
	background-color: #fff;
	box-shadow: 2px 2px 5px -1px rgba(219,215,219,0.61);
	padding: 7px 0 10px 0;
	white-space: nowrap;
}

#page_container {
	padding-top: 125px;
	min-height: 800px;
}